/*申请记录头部*/
html,body{
	/*min-width:1066px;*/
	height: 100%;
}
.list-header-box{
    height:67px;
    line-height:78px;
    background-color:white;
    position: relative;
}
.list-header-box .list-header{
    height:69px;
    position: absolute;
    top:0;
    /*left:13px;*/
    bottom:0;
    margin: auto;
    font-size:0;
    min-width: 540px;
}
.nav{
	width: 100%;
}
.nav-d{
	padding-left:12px;
	min-width: 540px;
	height: 67px;
	overflow: hidden;
}
.nav-d li{
	overflow: hidden;
	height: 67px;
	float: left;
}
.nav-d .lastcurrent{
	height: 51px;
    border-bottom: 2px solid red;
    position: relative;
    z-index: 100;
    background:url(../img/header-item.png) 132px 0 no-repeat;
    color:white;
}
.list-header .header-item{
    font-size:16px;
    display: inline-block;
    width:132px;
    height:40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    /*color:black;*/
}
.list-header .header-item-f,.list-header .header-item-m{
    /*background-color:#e1e1e1;*/
   background: url(../img/header-item-bg.png) no-repeat;
    height: 40px;
    line-height: 40px;
    margin-top: 14px;
}
.list-header .header-item-l{
    background:url(../img/header-item-lasti.png) 0 0 no-repeat;
}
.list-header-box .header-item-hover{
	height: 51px!important;
    border-bottom: 2px solid #f3ad00!important;
    position: relative!important;
    z-index: 100!important;
    color: white;
    background: url(../img/header-item-hover.png) no-repeat!important;
}
.list-header-box .header-item-hoverl{
    color: white;
    background: url(../img/header-item-hoverl.png) no-repeat;
}
.index-content{
	display: inline-block;
    float: right;
   padding-right:13px;
    font-size:15px;
    line-height: 66px;
}
.index-content .index-pre{
    display: inline-block;
    padding-right:10px;
}
.index-content .index-pre,.index-content .index-next{
	cursor: pointer;
	position: relative;
	z-index: 10;
}

/*申请记录下方滚动条*/
.list-header-box .list-header-bar{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    background: #e1e1e1;
    /*padding-left:15px;*/
}
.list-header-bar .header-bar{
    display: inline-block;
    height:2px;
    font-size:0;
    width:121px;
    background: #f3ad00;
    float: left;
    left: 13px;;
    position: absolute;
}
/*图表*/
.content-con .list-body{
    width: 100%;
    background-color: white;
    /*overflow: auto;*/
    position: absolute;
    bottom: 0;
    top: 67px;
}
.list-body .list-header{
    display: inline-block;
    width: 100%;
    height:50px;
    line-height: 50px;
    background: white;
}
.list-header .list-header-text{
    margin-left:15px;
    font-size:14px;
    font-family: "微软雅黑";
}
.list-header .list-header-right{
    display: inline-block;
    float: right;
    margin-right: 15px;
    width: 80px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    margin-top: 9px;
    cursor: pointer;
    background: #EFEFEF;
    font-size:14px;
    color: #666666;
    font-family: "微软雅黑";
}
.list-header-box .icon-box {
	display: inline-block;
    float: right;
    line-height: 66px;
}
.list-body .list-header-right-sty{
    color:white!important;
    background-color:#ea7c10!important;
}
.list-body .list-content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    position: absolute;
    top: 52px;
    bottom: 0;
}
.wrapper-box{
    position: absolute;
    bottom: 49px;
    top:9px;
    overflow: hidden;
    left: 8px;
    right: 8px;
}
.main-list{
    position: absolute;
    top:0;
    bottom:15px;
    right: 15px;
    left: 15px;
}
/*表格滑动*/
/*.nav>.nav-d{width:90%;overflow: hidden;display: inline-block;}
@media screen and (max-width: 1600px)  {
    .nav>.nav-d{width:83%;}
}
@media screen and (max-width: 1268px)  {
    .nav>.nav-d{width:80%;}
}*/
/*表格滑动*/
.w-left{
	float:left;
	width:200px;
	height: 100%;
	border-right:4px solid #999;
	background: #ccc;
}
.w-right{
	height: 100%;
	margin-left:13px;
}
.w-right .head{
	background: #ccc;
}
.w-right .btn-left-right{
	display:inline-block;
	padding:10px 10px;
	margin:10px;
	background: #999;
	color:#ccc;
	cursor: pointer;
}
.w-right .btn-left-right:hover{
	background:#8A2BE2;
	color:#fff;
}
.list-header-box .wrapper{
	padding-top: 13px;
    height: 56px;
}
.nav-wrapper{
	position: relative;
	/*margin-top:10px;*/
	/*top:10px;*/
}
.nav-container{
	position: relative;
	margin-right:140px;
	height: 53px;
	overflow: hidden;
}
.nav-container .nav-item-list{
	position: absolute;
	left:0;top:0;
}
.nav-container .nav-item-list li{
	float:left;
}
.nav-container .nav-item-list li a{
	display: block;
	width:124px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color:#666666;
	font-size: 16px;
	background:#e1e1e1 url(../img/header-item-lasti.png) no-repeat;
	cursor:pointer;
}
.nav-container .nav-item-list li a.last{
	background:#fff url(../img/header-item-lasti.png) no-repeat;
}
.nav-container .nav-item-list li a.last.current{
	background:#fff url(../img/header-item-lasti.png) -136px 0 no-repeat;
}
.nav-container .nav-item-list li a.current{
	background:#e1e1e1 url(../img/header-item-lasti.png) -136px 0 no-repeat;
	color: white;
}
.nav-container .nav-item-list li.currentli{
	border-bottom: 2px solid #f3ad00;
    height: 51px;
    z-index: 100;
    position: relative;
}
.page-number{
	position: absolute;
	/*width: 130px;*/
	right: 19px;
    top: -12px;
}
.page-number .prev-page{
	padding-left: 30px;
}
.page-number a{
	display: inline-block;
	padding-right: 17px;
	font-size: 14px;
	/*padding:5px;*/
	/*margin:10px 5px;*/
	/*background: #ccc;*/
	/*border-radius: 4px;*/
	color:#666;
	cursor: pointer;
}
/*.page-number a:hover{
	background:#8A2BE2;
	color:#fff;
}*/


/*动态导航*/
.clearfloat{}
	.clearfloat:after{content:''; clear:both; display:block; visibility:hidden;}
	.tabnav>.left a{display:inline-block;width: 100%;height: 100%;}	
	.tabnav{position:relative; height:66px; background-color:#fff;top:1px;left:-2px;}
	.tabnav>.left{position:absolute; top:11px; right:185px; bottom:15px; left:15px; overflow:hidden;height: 59px;overflow: hidden;}
	.tabnav>.left>ul{position:relative; left:0; list-style:none; display:inline-block;height:40px;top:-2px;}
	.tabnav>.left>ul li{position:relative; float:left; padding:0 35px; height:40px; line-height:40px; color:#666; background-color:#e1e1e1; cursor:pointer; font-size:16px;}
	.tabnav>.left>ul li:last-child{margin-right:15px;}
	.tabnav>.left>ul .arrow{position:absolute; top:0; left:100%; z-index:10; border:20px solid transparent; border-right-width:0; border-left:12px solid #e1e1e1;}
	.tabnav>.left>ul .arrow-bar-sty{ width: 144px;height: 2px;position: absolute;background:#f3ad00;bottom: -14px;left: 0;z-index: 5;}
	.tabnav>.left>ul .navline{position:absolute; bottom:-17px; left:0; z-index:10; width:100%; border-top:2px solid #f3ad00; opacity:0;}
	.tabnav>.left>ul li:hover{background-color:#ccc;}
	.tabnav>.left ul li.active{background-color:#3094c5; color:#fff;}
	.tabnav>.left>ul li:hover .arrow{border-left-color:#ccc;}
	.tabnav>.left ul li.active .arrow{border-left-color:#3094c5;}
	.tabnav>.left>ul li.active .navline{opacity:1;}

	.tabnav .right{float:right; margin-right:15px; line-height:70px;}
	.tabnav .right a{padding:0 5px; text-decoration:none; color:#666; font-size:14px;}
	.tabnav .right .iconfont{margin-left:20px; color:#666; font-size:16px; cursor:pointer;}
	.tabnav .right a:hover,.tabnav .right .iconfont:hover{color:#379dce;}

	.tabnav .right .alltabmenu{position:relative; padding:0; cursor:default;}
	.tabnav .right .alltabmenu .menuswrap{display:none; position:absolute; top:100%; right:-15px; padding-top:30px; width:270px;  line-height:normal;}
	.tabnav .right .alltabmenu ul{min-height:300px; max-height:500px; list-style:none; background-color:#fff;}
	.tabnav .right .alltabmenu ul li{padding:10px 15px; color:#666; font-size:14px; cursor:pointer;}
	.tabnav .right .alltabmenu ul li:hover{background-color:#ccc; color:#3094c5;}

	.tabnav .right .alltabmenu:hover .menuswrap{display:block;}
/*legs个别样式*/
html,body{
	overflow: auto;
	background: #e1e1e1;
}
.work-content{
	background:white;
}
.num-list{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: white!important;
	margin-right: 30px;
}
.list-header-right{
	display: inline-block;
	background: white;
	width: 80px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	cursor: pointer;
	color: #666;
	font-size: 14px;
}
.list-header-right:hover{
	color: white!important;
	background:#ea7c10!important;
}
.title{
	font-size:16px;
	padding: 15px;
	background:#e1e1e1;
	color: #666;
}
.work-body-top .work-item-icon{
	top:25px!important;
}