/*list0*/
body{
	margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
}    
.main-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.list-header-right:hover{
	color: white!important;
	background:#ea7c10!important;
}
.mini-pager-prevbutton{
	/*margin-right: 13px!important;*/
}
.mini-toolbar .mini-button:hover{
	color: white!important;
	background: #ea7c10!important;
}
.mini-grid-pager{
	height: 37px!important;
	line-height: 37px;
}
/*.mini-pager-index .mini-pager-num,.mini-pager-index .mini-pager-pages{
	position: relative;
	top: 1px;
}*/
.mini-buttonedit {
    /*top: -4px!important;*/
    top:0;
}
.mini-pager-left .mini-buttonedit{
	top: 0px!important;
}
/*list1*/
.listcontainer{
	position: absolute;
	top: 12px;
	left: 12px;
	right: 12px;
	bottom: 12px;
	background: white;
}




/*list2*/
 .gridcon{
	/* position: absolute; */
	/* top: 39px; */
	/* left: 0px; */
	/* right: 0px; */
	/* bottom: 0px; */
}

/*list4*/
.listcont {
    /*width: 100%;*/
    position: absolute;
    top: 0;/*2px*/
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
}
.tou-bu {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-bottom:1px solid #dfdfdf;
}
.tou-bu .left-l {
    float:left;
    font-size:16px;
    line-height:40px;
    margin:0 0 0 15px;
    color:#666;
    }
/*.listcont-sty{
	/*width: 100%;*/
/*position: absolute;
	top: 8px;
	left: 8px;
	bottom: 49px;
	right: 8px;
	background: white;*/
/*} */
/*input 前面labele的颜色*/
.label-item {
    /*display: inline-block;*/
    color: black;
    font-size: 14px;
    /*margin-top: 3px;*/
    /*padding-left:8px;*/
}

body .mini-labelfield{
	margin-top:10px ;
	width:47%;
	color: #666666;
}
.mini-labelfield-label{
	left:29px!important;
}


/*miniui 自定义点击按钮增加的样式*/
.icon-style{
	background:#ea7c10!important;
	color:white!important;
    /*border-color:#ea7c10!important;*/
}

/*list0单独添加的样式*/
.slide-wraper{
	width: 100%;
}

.list-body .list-header {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: white;
}
.list-header .list-header-text {
    margin-left: 15px;
    font-size: 14px;
    font-family: 微软雅黑;
}
.list-header .list-header-right {
    display: inline-block;
    float: right;
    margin-right: 15px;
    width: 80px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    margin-top: 9px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-family: 微软雅黑;
    background: rgb(239, 239, 239);
}

.list-body .list-content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    position: absolute;
    top: 52px;
    bottom: 0;
}
.list-body .list-header-right-sty{
    color:white!important;
    background-color:#ea7c10!important;
}

/*弹出表格样式 */
.table-sty {
    width: 100%;
    padding:8px;
}
  
    .table-sty > tbody > tr > td > span {
        width: 100% !important;
    }
.bottom-btn {
    text-align: center;
   
}
/*.button-pre-bn{
	width:50px;
	margin-right:20px;
}*/
.button-next-bn{
	width:50px;
}
.item-left{
	margin-left: 8px;
}

/*解决去除td：inline-block；以及对齐问题，测试“系统维护-工作台与知识库”*/

.table-sty .mini-textbox.mini-textarea {
    height: 82px;
}
.table-sty .mini-textbox.mini-textarea .mini-textbox-input {
     /* height: auto!important; */
}
.table-sty td > span {
    width: 100% !important;
}
.table-sty .mini-textbox {
    width: 100% !important;
}