@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMiniUI.cshtml";
}


<script type="text/javascript">
    @Html.Raw(ViewData["CommonDic"])
</script>
<style>
    .mini-grid-headerCell:last-child, .mini-grid-cell:last-child {
        border-right: none;
    }
    #form1.searchBox + .mini-toolbar {
        padding:10px 0 !important;
    }
</style>
<div class="listcont window-listcont">
    <div class="listcontainer listcontainer-noborder" style="position:absolute;top:8px;left: 8px;right: 8px;bottom: 10px;">
        <div style="width:100%;position:relative;">
            <div id="form1" class="searchBox">
                <a class="mini-button Pink" iconCls="icon-add" plain="true" onclick="UserOrgObj.btnSave" style="margin-left:8px;">保存</a>
            </div>
            <div class="mini-toolbar button-right" style="padding:2px;border:0;width:310px;">
                <input id="txtKey" class="mini-textbox" emptyText="请输入姓名或账户" style="width:250px;float:left;" onenter="UserOrgObj.btnSearch()" />
                <a class="mini-button search-button-my btn-right-last" iconCls="icon-download" plain="true" style="" onclick="UserOrgObj.btnSearch()">查询</a>
            </div>
        </div>
        <div class="mini-fit">
            <div id="grid" class="mini-datagrid"  allowMoveColumn="false" style="width:100%;height:100%;" idField="ID"
                 url="/PowerManage/Users/GetPagerJsonOutOrg" showFilterRow="false" sortField="U_SortNo"  multiSelect="true" >
                <div property="columns">
                    <div type="indexcolumn" width="20"></div>
                    <div type="checkcolumn" width="20"></div>
                    <div field="Cn" width="120" headerAlign="center" align="left" allowSort="false">姓名</div>
                    <div field="UID" width="120" headerAlign="center" align="left" allowSort="false">账户</div>
                    <div field="StationsID" width="120" headerAlign="center" align="left" allowSort="false" renderer="stationObj.onRenderer">岗位</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //miniui初始化
    mini.parse();

    //岗位
    var stationObj = {
        data: null,
        //数据加载
        loadData: function () {
            $.ajax({
                type: "GET",
                url: "/PowerManage/Station/GetStationJson",
                dataType: "json",
                success: function (data1) {
                    stationObj.data = data1;
                },
                error: function () {
                }
            });
        },
        //行加载：岗位
        onRenderer: function (e) {
            if (!!stationObj.data) {
                for (var i = 0, l = stationObj.data.length; i < l; i++) {
                    var g = stationObj.data[i];
                    if (g.ID == e.value)
                        return g.Name;
                }
            }
            return "";
        }
    };

    var UserOrgObj = {
        //展示数据控件
        grid: mini.get("grid"),
        //查询关键字
        txtKey: mini.get("txtKey"),
        //对应组织机构
        Org: null,
        //查询按钮
        btnSearch: function () {
            var Parameter = [];

            //输入账户或者姓名都可以进行查询
            var vkeyValue = UserOrgObj.txtKey.value;
            if (!!vkeyValue) {
                Parameter.push({
                    LeftBrace: '(',
                    paramName: 'UID',
                    paramValue: vkeyValue,
                    Operation: 'like',
                    Logic: "OR"
                });
                Parameter.push({
                    RightBrace: ")",
                    paramName: 'Cn',
                    paramValue: vkeyValue,
                    Operation: 'like',
                    Logic: "AND"
                });
            }
            //启用状态
            Parameter.push({
                RightBrace: "",
                paramName: 'Status',
                paramValue: '587BCEB8-87E1-46F8-9B01-5E138EC5A2BB',
                Operation: 'Equal',
                Logic: "AND"
            });

            UserOrgObj.grid.load({ ParameterJson: JSON.stringify(Parameter), OrgID: UserOrgObj.Org });
        },
        //反查，接收传递过来的数据，初始化
        setData: function (data) {
            data = mini.clone(data);

            UserOrgObj.Org = data.OrgID;
            
            UserOrgObj.btnSearch();
        },
        //保存
        btnSave: function () {
            var rows = UserOrgObj.grid.getSelecteds();
            if (!!rows) {
                UserOrgObj.grid.loading("操作中，请稍后......");
                $.ajax({
                    url: "/PowerManage/UserOrg/InsertUserOrg",
                    type: 'post',
                    data: { OrgID: UserOrgObj.Org, Userlist: rows },
                    cache: false,
                    async: false,
                    success: function (text) {
                        //mini.alert("保存成功！", "提示", function () {
                        //    UserOrgObj.grid.reload();
                        //});
                        UserOrgObj.CloseWindow("Save");

                    },
                    error: function () {
                    }
                });
            } else {
                mini.alert("请选择至少一条记录！");
            }
        },
        //窗口关闭
        CloseWindow: function (action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
    };

    //页面初始化方法
    $(function () {
        //岗位数据加载
        stationObj.loadData();
    });
</script>
