@{
    ViewData["Title"] = "Index";
    //配置权限
    Layout = "~/Views/Shared/_LayoutMiniUI.cshtml";
}

<style>
    .mini-toolbar {
        border:0 none;
        padding:8px 0 !important;
    }
    .mini-fit {
        padding-left:3px;
    }
</style>
<div class="mini-toolbar" style="border-bottom:0;padding:0px;">
    <a class="mini-button" iconCls="icon-edit" plain="true" onclick="chooseMenusObj.btnCheckAll">全选</a>
    <a class="mini-button" iconCls="icon-remove" plain="true" onclick="chooseMenusObj.btnUncheckAll">取消全选</a>
    <a class="mini-button" iconCls="icon-save" onclick="chooseMenusObj.btnSave" plain="true">保存</a>
</div>
<div  id="form1"  class="mini-fit" >
    <input type="hidden" name="MenuID" class="mini-hidden" />
    @*<ul id="tree" class="mini-tree" style="width:200px;padding:5px;" 
        showTreeIcon="true" textField="text" idField="id" parentField="pid"
        showCheckBox="true" checkRecursive="false" allowSelect="false" enableHotTrack="false" resultAsTree="false"></ul>*@

    <ul id="tree" class="mini-tree"  style="width:100%;padding:2px;"
        showTreeIcon="true" textField="text" idField="id" parentField="pid" resultAsTree="false" checkRecursive="false" autoCheckParent="false"
        showCheckBox="true" allowSelect="false" enableHotTrack="false"></ul>
</div>

<script>
    //miniui初始化
    mini.parse();

    //反查、全选、提交数据
    var chooseMenusObj = {
        //form对象
        form: new mini.Form("#form1"),
        tree: mini.get("tree"),
        roleId: "",
        areaCode: "",
        //反查
        setData: function (data) {
            if (data.action == "choosemenu") {
                //跨页面传递的数据对象，克隆后才可以安全使用
                data = mini.clone(data);
                chooseMenusObj.roleId = data.id;
                chooseMenusObj.areaCode = data.AreaCode;

                //chooseMenusObj.CheckPowerNode();
                var url = "/SystemManage/Menu/GetPowerMenuJson?roleId=" + data.id;

                chooseMenusObj.tree.load(url);

                chooseMenusObj.tree.setCheckRecursive(true);
            }
        },
        //全选事件
        btnCheckAll: function () {
            var nodes = chooseMenusObj.tree.getAllChildNodes(chooseMenusObj.tree.getRootNode());
            chooseMenusObj.tree.checkNodes(nodes);
        },
        //取消全选事件
        btnUncheckAll: function () {
            var nodes = chooseMenusObj.tree.getAllChildNodes(chooseMenusObj.tree.getRootNode());
            chooseMenusObj.tree.uncheckNodes(nodes);
        },
        //获取所有选中
        getAllCheck: function () {
            var value = chooseMenusObj.tree.getValue();
        },
        //保存事件
        btnSave: function () {
            chooseMenusObj.form.loading("保存中，请稍候……");

            var menus = chooseMenusObj.tree.getValue(true);
            $.ajax({
                url: "/PowerManage/Role/ChooseMenu",
                cache: false,
                type: 'post',
                data: { roleid: chooseMenusObj.roleId, menus: menus },
                success: function (text) {
                    chooseMenusObj.form.unmask();

                    mini.alert("配置成功！","提示", function () {
                        chooseMenusObj.CloseWindow();
                    });
                }
            });
        },
        //窗口关闭
        CloseWindow: function (action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
    }
</script>
