@{
    ViewData["Title"] = "Index";
    //密码初始化
    Layout = "~/Views/Shared/_LayoutMiniUI.cshtml";
}

<style>
    #second-table .mini-panel-border {
        border-left: none;
        border-bottom: none;
        border-right: none;
    }

    .mini-grid-headerCell:last-child, .mini-grid-cell:last-child {
        border-right: none;
    }

    .mini-toolbar {
        padding: 10px 0 !important;
    }

    .button-right {
        right: 0px !important;
    }
    .mini-panel-header{
        border:none;
    }
   
</style>

<div class="listcont">
    <div class="listcontainer" style="position:absolute;top:0px;left: 12px;right: 12px;bottom: 12px;">
        <div style="width:100%;position:relative;">
            <div id="form1" class="searchBox">
                <a class="mini-button Light" iconCls="icon-add" plain="true" onclick="InitializeObj.showWin()" style="margin-left:0px;">密码初始化</a>
            </div>
            <div class="mini-toolbar button-right right-float" style="padding:2px;border:0;width:500px;">
                <input id="Organization" class="mini-treeselect" url="/PowerManage/UsersOrganization/GetJson" multiSelect="false"
                       textField="Name" valueField="ID" parentField="ParentID" emptyText="请选择组织机构" expandOnLoad="true" showClose="true"
                       popupWidth="300" oncloseclick="UserObj.onCloseClick" />
                <input id="txtKey" class="mini-textbox" emptyText="请输入姓名或账户" style="width:180px;" onenter="UserObj.btnSearch()" />
                <a class="mini-button search-button-my" iconCls="icon-download" plain="true" onclick="UserObj.btnSearch()">查询</a>
            </div>
        </div>
        <div class="mini-fit">
            <div id="grid" class="mini-datagrid"  allowMoveColumn="false" style="width:100%;height:100%;" idField="ID"
                 url="/PowerManage/Users/GetUserPagerJson" showFilterRow="false" sortField="U_SortNo" allowAlternating="true">
                <div property="columns">
                    <div type="indexcolumn"></div>
                    <div field="Cn" width="80" headerAlign="center" align="left" allowSort="false">姓名</div>
                    <div field="UID" width="80" headerAlign="center" align="left" allowSort="false">账户</div>
                    <div field="RoleNames" width="220" headerAlign="center" align="left" allowSort="false">所属角色</div>
                    <div field="StationName" width="100" headerAlign="center" align="left" allowSort="false">岗位</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="winInitialize" class="mini-window" title="密码初始化" style="width:400px;height:200px;"
     showMaxButton="false" showCollapseButton="false" showShadow="true"
     showToolbar="true" showFooter="true" showModal="true" allowResize="false" allowDrag="true"
     headerStyle="font-weight:bold;color:#666;background:white;line-height:40px;padding:4px 0;"
     footerStyle="color:#666;background:white; height:40px; line-height:35px;text-align:center;">
    <div style="height:50px;padding-top:20px;padding-left:10px;" id="form1">
        <input name="userID" id="userID" class="mini-hidden" />
        初始密码：<input name="Pwd" id="Pwd" class="mini-textbox" required="true" value="1234abcd" style="width:250px;" />
    </div>
    <div property="footer">
        <a class="mini-button" onclick="InitializeObj.btnInitPwd" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="InitializeObj.hideWindow" style="width:60px;margin-right:20px;">取消</a>
    </div>
</div>

<script type="text/javascript">
    //miniui初始化
    mini.parse();

    var UserObj = {
        //展示数据控件
        grid: mini.get("grid"),
        //查询关键字
        txtKey: mini.get("txtKey"),
        //回车事件
        keyEnter: function () {
            UserObj.btnSearch();
        },
        //查询按钮
        btnSearch: function () {
            var Parameter = [];

            //输入账户或者姓名都可以进行查询
            var vkeyValue = UserObj.txtKey.value;
            if (!!vkeyValue) {
                Parameter.push({
                    LeftBrace: '(',
                    paramName: 'UID',
                    Operation: 'like',
                    paramValue: vkeyValue,
                    Logic: "OR"
                });
                Parameter.push({
                    paramName: 'Cn',
                    Operation: 'like',
                    paramValue: vkeyValue,
                    RightBrace: ")",
                    Logic: "AND"
                });
            }
            //启用状态
            Parameter.push({
                RightBrace: "",
                paramName: 'Status',
                paramValue: '587BCEB8-87E1-46F8-9B01-5E138EC5A2BB',
                Operation: 'Equal',
                Logic: "AND"
            });

            //组织机构ID
            if (!!mini.get("Organization").getValue()) {
                Parameter.push({
                    paramName: 'OrganizationIDS',
                    paramValue: mini.get("Organization").getValue(),
                    Operation: 'like',
                    Logic: "AND"
                });
            }

            UserObj.grid.load({ ParameterJson: JSON.stringify(Parameter) });
        },
    }

    //初始化密码窗口
    var InitializeObj = {
        //form对象
        form: new mini.Form("#form1"),
        //显示初始化密码窗口
        showWin: function () {
            var row = UserObj.grid.getSelected();
            if (!!row) {
                mini.get("userID").setValue(row.ID);

                var winInitPwd = mini.get("winInitialize");

                winInitPwd.showAtPos("center", "middle");

            } else {

                hasng.Alert();
                mini.alert("请选择一条数据！", "", function () { $('.mini-button').removeClass('icon-style'); });
            }
        },
        //窗口关闭
        hideWindow: function () {
            var winInitPwd = mini.get("winInitialize");
            winInitPwd.hide();
            $('.mini-button').removeClass('icon-style');
        },
        //密码初始化
        btnInitPwd: function () {
            InitializeObj.form.validate();
            if (InitializeObj.form.isValid() == false) return;

            mini.confirm("确定要初始化该账户的密码吗？", "提示",
                function (action) {

                    if (action == "ok") {
                        $.ajax({
                            url: "/PowerManage/Users/InitializePs",
                            type: 'post',
                            data: { id: mini.get("userID").value, pwd: mini.get("Pwd").value },
                            cache: false,
                            success: function () {
                                mini.alert("初始化成功！", "提示", function () {
                                    InitializeObj.hideWindow();
                                    $('.mini-button').removeClass('icon-style');
                                });
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                mini.alert(jqXHR.responseText);
                            }
                        });
                    }
                });
        }
    };

    //页面加载时执行事件
    //页面初始化方法
    $(function () {
        //表格数据加载
        UserObj.btnSearch();

    });

</script>
