
@{
    ViewData["Title"] = "AddOrUpdate";
    //修改密码
    Layout = "~/Views/Shared/_LayoutMiniUI.cshtml";
}
<style>
    .listcontainer {
        width: 560px;
        height: 190px;
        position: absolute;
        left: 50%;
        margin-left: -321px;
        top: 50%;
        margin-top: -131px;
        border: 1px solid #ccc;
        padding: 40px 40px 30px 40px;
    }
    .Cadrebottom .mini-button{
        float:inherit!important;
    }
</style>
<div class="listcont">
    <div class="listcontainer" style="">
        <div id="form1">
            <input type="hidden" name="ID" class="mini-hidden" />
            <div style="padding:20px;">
                <table style="width:100%; margin:0 auto">
                    <tr>
                        <td style="width:100px" >请输入原密码：</td>
                        <td ><input name="PassWord" class="mini-password" required="true" width="100%" /></td>
                    </tr>
                    <tr>
                        <td >请输入新密码：</td>
                        <td ><input name="newPassWord" id="newPassWord" class="mini-password" required="true" width="100%" /></td>
                    </tr>
                    <tr>
                        <td >确认新密码：</td>
                        <td ><input name="newPassWord2" id="newPassWord2" class="mini-password" required="true" onvalidation="modifyPsObj.onSamePawValidation" width="100%" /></td>
                    </tr>
                </table>
            </div>
          
        </div>
        <div class="Cadrebottom" style="text-align:center;padding:10px;">
            <a class="mini-button mini-button-plain Pink" onclick="modifyPsObj.btnSave" style="width:60px;margin:0;">保存</a>
        </div>
        </div>
    </div>
        <script type="text/javascript">
    //miniui初始化
    mini.parse();

    //反查、保存对象
    var modifyPsObj = {
        form: new mini.Form("form1"),
        //账户
        uid: "",
        //所属区域
        areaCode: "",
        //反查
        setData: function (data) {
            if (data.action == "update") {
                //跨页面传递的数据对象，克隆后才可以安全使用
                data = mini.clone(data);
                $.ajax({
                    url: "/PowerManage/Users/GetEntity?id=" + data.id,
                    cache: false,
                    success: function (text) {
                        var o = mini.decode(text);
                        //给账户、所属区域赋值
                        modifyPsObj.uid = o.UID;
                        modifyPsObj.areaCode = o.U_AreaCode;

                        modifyPsObj.form.setData(o);
                        mini.getbyName("PassWord").setValue("");
                    }
                });
            }
        },
        //获取页面数据
        GetData: function () {
            var o = modifyPsObj.form.getData();
            return o;
        },
        //保存数据
        btnSave: function (e) {
            modifyPsObj.form.validate();
            if (modifyPsObj.form.isValid() == false) return;
            var o = modifyPsObj.form.getData();

            $.ajax({
                url: "/PowerManage/Users/UpdatePassWord",
                type: 'post',
                data: { oldpassword: o.PassWord, password: o.newPassWord, },
                cache: false,
                success: function (text) {
                    var dataJson = mini.decode(text);
                    if (dataJson.success == true) {
                        mini.alert("修改成功!", "", function () { $('.mini-button').removeClass('icon-style'); });
                        modifyPsObj.CloseWindow("save");
                    } else {
                        mini.alert(text.message);
                        modifyPsObj.CloseWindow("save");
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    mini.alert(jqXHR.responseText);
                    modifyPsObj.CloseWindow();
                }
            });




            //保存前先验证旧密码输入是否正确，再验证两次输入的新密码是否一样
            //$.ajax({
            //    url: "/PowerManage/Users/CheckOldPassWord",
            //    type: 'post',
            //    data: { uid: modifyPsObj.uid, password: o.PassWord, areaCode: modifyPsObj.areaCode },
            //    cache: false,
            //    success: function (status) {
            //        if (status) {

            //            //验证新密码和原密码是否一样
            //            $.ajax({
            //                url: "/PowerManage/Users/CheckOldPassWord",
            //                type: 'post',
            //                data: { uid: modifyPsObj.uid, password: o.newPassWord, areaCode: modifyPsObj.areaCode },
            //                cache: false,
            //                success: function (status) {
            //                    if (!status) {
            //                        $.ajax({
            //                            url: "/PowerManage/Users/UpdatePassWord",
            //                            type: 'post',
            //                            data: { data: o },
            //                            cache: false,
            //                            success: function (text) {
            //                                mini.alert("修改成功，请继续使用。");
            //                                modifyPsObj.CloseWindow("save");
            //                            },
            //                            error: function (jqXHR, textStatus, errorThrown) {
            //                                mini.alert(jqXHR.responseText);
            //                                modifyPsObj.CloseWindow();
            //                            }
            //                        });
            //                    }
            //                    else {
            //                        mini.alert("新密码不得与原密码一样。");
            //                    }
            //                },
            //                error: function (jqXHR, textStatus, errorThrown) {
            //                    mini.alert(jqXHR.responseText);
            //                    modifyPsObj.CloseWindow();
            //                }
            //            });

            //        }
            //        else {
            //            mini.alert("原密码输入错误。请重新输入。");
            //        }
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        mini.alert(jqXHR.responseText);
            //        modifyPsObj.CloseWindow();
            //    }
            //});
        },
        //关闭窗口
        CloseWindow: function (action) {
            /*if ((action == "cancel" || action == "close") && modifyPsObj.form.isChanged()) {
                mini.confirm("数据被修改了，是否先保存？", "提示",
                    function (action) {
                        if (action != "ok") {
                            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
                            else window.close();
                        }
                    });
            }
            else {
                if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
                else window.close();
            }*/

            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        },
        //取消
        btnCancel: function (e) {
            modifyPsObj.CloseWindow("cancel");
        },
        //验证两次输入的密码是不是一样滴
        onSamePawValidation: function (e) {
            if (e.isValid) {
                if (mini.get("newPassWord").value != mini.get("newPassWord2").value) {
                    //e.errorText = "两次输入新密码必须一致";
                    //直接弹出提示
                    mini.alert("两次输入新密码必须一致", "提示");
                    e.isValid = false;
                }
            }
        }
    };
        </script>

